@{
    ViewData["Title"] = "Azure DevOps";
}

<div class="text-center">
    <h1 class="display-4">Self-host agent successful</h1>
    <p>Learn about <a href="Self-host agent successful>building Web apps with ASP.NET Core</a>.</p>
</div>
