@{
    ViewData["Title"] = "Azure DevOps";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="Let us learn AZ400-Azure DevOps>building Web apps with ASP.NET Core</a>.</p>
</div>
